*{
     margin:0;
	 padding:0;
     
}
body{
      background-image:url(file:///E:\HTML/image1.jpg);
	  background-position:center;
	  background-size:cover;
	  font-family:sans-serif;
	  margin-top:100px;
	  
    }

#head1
{   
	width:600px;
	background-color:#2C3E50 ;
	margin-left:30px;
	margin-top:20px;
	color:#FFFFFF;
	padding:10px 0px 10px 0px;
	text-align:center;
	border-radius:15px 15px 0px 0px;
}
.main
{
	background-color:#CACFD2 ;
	width:600px;
	margin-left:30px;
	height:300px;
	padding:10px 0px 10px 0px ;
	border-radius:0px 0px 15px 15px;
	
}

#btnlog
{
	margin-left:50px;
	width:100px;
	
}
#btnsign
{
	margin-left:100px;
	width:100px;
	
	
}
#g
{
   
  width
  
}
label
{
	margin-left:5%;
	width:200px;
	display:inline-block;
}
#btncheck
{
	margin-left:100px;
	width:260px;
	
}
h1
{
	
	color=#D2CAD2;
}